<% content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>
<p>He was orn in Waikikamuka, New Zealand.  He left New Zealand for England, excelled at school and thend did stuff.
  He was orn in Waikikamuka, New Zealand.  He left New Zealand for England, excelled at school and thend did stuff.
He was orn in Waikikamuka, New Zealand.  He left New Zealand for England, excelled at school and thend did stuff.
He was orn in Waikikamuka, New Zealand.  He left New Zealand for England, excelled at school and thend did stuff.
He was orn in Waikikamuka, New Zealand.  He left New Zealand for England, excelled at school and thend did stuff.</p>
<p>His fovoarite quaotatoation is: </p>
<p>stuff and thigs and junk and stuff yahoo.</p>
